:root {
	--logo-color-main: #2196f3;
	--logo-color-header: #000000;
	--logo-color-footer: #ffffff;
	--background-footer-color: #2f303a;
	--primary-text-color: #212121;
	--primary-address-color: #757575;
	--section-color-background: #f5f4fa;
	--hero-button-hover: #188ce8;
	--icon-default-color: #afb1b8;

	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
}
